.select {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size:20px;
  color:#000;
  text-decoration:none;
  display:block;
  width:auto;
  height:auto;
  padding:10px;
  border:1px solid #DDD;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;

  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
  background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
  
  margin-bottom:20px;
}

.small_button {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size:18px;
  color:#000;
  text-decoration:none;
  display:block;
  width:60px;
  height:auto;
  padding:10px;
  border:1px solid #DDD;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;

  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
  background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF); 
}
.button {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size:26px;
  color:#000;
  text-decoration:none;
  display:block;
  width:auto;
  height:auto;
  padding:10px;
  border:1px solid #DDD;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;

  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
  background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF); 
}
.small_button:hover {
    color:#fff;
    border-color:#3278BE;

    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
    background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
.small_button:active {
    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
    background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

.small_button.notransitions {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.button:hover {
    color:#fff;
    border-color:#3278BE;

    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
    background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
.button:active {
    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
    background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

.button.notransitions {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
a.button {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:30px;
    color:#000;
    text-decoration:none;
    display:block;
    width:478px;
    padding:10px;
    border:1px solid #DDD;
    margin:auto;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;

    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
    background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

}

a.button:hover {
    color:#fff;
    border-color:#3278BE;

    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
    background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
a.button:active {
    background:#4195DD;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
    background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

a.button.notransitions {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
h1 {
  font-family: 'Yanone Kaffeesatz', arial, serif;  
}
h2 {
  font-family: 'Yanone Kaffeesatz', arial, serif;  
}
p {
  font-family: 'Yanone Kaffeesatz', arial, serif;  
}
.home {
text-align:center;
}

form {
  font-family: 'Yanone Kaffeesatz', arial, serif;  
}
.notice {
  text-align:center;
}
textarea {
  margin-bottom:20px;
  width:300px;
  height:150px;
}
label {
  font-family: 'Yanone Kaffeesatz', arial, serif; 
  margin-top:20px;
}
.button {
  margin-top:20px;
}

#new_event input, #new_event label, #new_event textarea, #new_event select {
  display:block;
}