<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css' />

<div class="home">
<h1>Welcome to the Event Calculator!</h1>

<p>Press 'GO!' to calculate the World Event!</p>

<p><a href="/go" class="button">GO!</a></p>
</div>
<a href="/add_event" class="small_button">Add Event!</a></p>
